<!doctype html>
<html>
  <head>
    <%= erb :header %>
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://starbounditems.herokuapp.com">Starbound Items</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/all">All Items</a></li>
              <li><a href="/tags">Colony Tags</a></li>
              <li><a href="/stats">Stats</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems/issues">Feedback</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
          </div>
      </div>
      <div class="container">
        <table class="table table-striped">
          <thead>
              <tr>
                <th>Icon</th>
                <th>Item</th>
                <th>Name</th>
                <th>Description</th>
                <th>Rarity</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>
                <tr>
                  <td>
                    <% if item[:inventoryIcon] %>
                      <img src="/images/<%= item[:inventoryIcon] %>" height="20">
                    <% end %>
                  </td>
                  <td>{{ item.itemName }}</td>
                  <td><a href="{{ item.wiki_url }}" target="_blank" onClick="ga('send', 'event', 'items', 'wiki_link', 'click');"><b>{{ item.shortdescription }}</b></a></td>
                  <td><%= item[:description] %></td>
                  <td class="<%= rarity(item[:rarity]) %>"><span class="item-rarity"><%= item[:rarity] %></span></td>
                  <td><span class="item-type"><%= item[:type] %></span></td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <div class="col-md-12 text-center">
          <ul class="pagination pagination-sm">
            <% if @current_page != 1 %>
            <li><a href="/all/<%= @current_page - 1 %>">&laquo;</a></li>
            <% end %>
            <% (1..@total_items).each_slice(200).with_index(offset = 1) do |c, index| %>
              <li class="<%= @current_page == index ? "active" : "" %>">
                <a href="/all<%= "/#{index}" unless index == 0 %>"><%= index %></a>
              </li>
            <% end %>
            <% if @current_page < (@total_items / 200 + 1) %>
                <li><a href="/all/<%= @current_page + 1 %>">&raquo;</a></li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= erb :footer %>
  </body>
  </html>
