<!doctype html>
<html>
  <head>
    <%= erb :header %>
  </head>
  <body>
    <div id="wrap">
      <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://starbounditems.herokuapp.com">Starbound Items</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/all">All Items</a></li>
              <li><a href="/tags">Colony Tags</a></li>
              <li><a href="/new">New Items</a></li>
              <li class="active"><a href="/stats">Stats</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems/issues">Feedback</a></li>
              <li><a href="https://github.com/MarceloAlves/StarboundItems"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
          </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <img src="images/logo-transparent.png" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3>Top 10 Searches</h3>
            <ul class="list-unstyled">
              <% @searches.each_with_index do |search, index| %>
                <li>
                  <span class="label <%= index == 0 ? "label-success" : "label-default" %>">
                    <%= search[:score] %>
                  </span>
                  &nbsp;<%= search[:term] %>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="col-md-4 text-center">
            <h3>Total Searches</h3>
            <h1><%= @total_searches %></h1>
          </div>
          <div class="col-md-4 text-center">
            <h3>Stable Items</h3>
            <h1><%= @stable_item_count %></h1>
          </div>
        </div>
      </div>
    </div>
    <%= erb :footer %>
  </body>
  </html>
